/*
 响应式布局的breakpoints:
 https://mui.com/material-ui/customization/breakpoints/
  xs, extra-small: 0px
  sm, small: 600px
  md, medium: 900px
  lg, large: 1200px
  xl, extra-large: 1536px
*/

// 背景白色. 不用纯白
$blank-white: #eee;

html {
  background: $blank-white;
}
