.shop {
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0 20px;
    padding: 5px 10px;
  }

  .content {
    padding: 15px 5px;
  }

  .pagination {
    margin-top: 15px;
    padding: 5px 10px;

    /* 样式穿透. 在css-module下不会提升为真正的全局样式 */
    :global(.MuiPagination-ul) {
      justify-content: flex-end;
    }
  }
}
