@use '@/assets/style/common.module.scss' as *;

.setting {
  padding-top: $page-padding-top;

  .overview {
    padding: 5px 10px;

    .flexR {
      display: flex;
      justify-content: right;
      align-items: center;
    }
  }
}
